/* RESET + CONTROL DIMENSIUNI */
* 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY */
body 
{
  background: black;
  font-family: Arial, sans-serif;
  color: white;
}

/* PAGINA */
.pagina 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CONTAINER GENERAL */
.container 
{
  width: 100%;
  max-width: 1000px;
  background: black;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px white;
  color: red;
}

/* HEADER */
.header 
{
  width: 100%;
  background: black;
  padding: 20px 0;
  box-shadow: 0 2px 20px black;
}

.header .container 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo 
{
  width: 200px;
}

/* NAV */
.nav 
{
  width: 100%;
}

.nav ul 
{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav ul li 
{
  position: relative;
}

.nav ul li a 
{
  text-decoration: none;
  font-size: 20px;
  padding: 0 20px;
  font-weight: bold;
  line-height: 45px;
  text-transform: lowercase;
  color: white;
  border-bottom: 4px solid transparent;
}

.nav ul li a:hover 
{
  color: red;
  border-bottom-color: #333;
}

/* SUBMENU */
.nav ul li ul 
{
  position: absolute;
  top: 45px;
  left: 0;
  background: black;
  display: none;
  border: 1px solid white;
}

.nav ul li:hover ul 
{
  display: block;
}

.nav ul li ul li a 
{
  padding: 10px 20px;
  display: block;
}

/* SLIDE */
.slide {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.slide .container 
{
  max-width: 800px;
  text-align: center;
}

.slide img 
{
  width: 100%;
  border-radius: 12px;
}

/* TITLURI */
h1 
{
  font-size: 50px;
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

h2 
{
  color: red;
  margin-bottom: 15px;
  text-align: center;

}

h3
{
  color: red;
  border-bottom: 1px solid red;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.rosu
{
  color: red;
  font-weight: bold;
}

.rosu, p
{
  font-weight: bold;
  font-style: italic;
}


/* DESPRE */
.despre 
{
  width: 100%;
  margin: 60px 0;
}

.despre-box 
{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.despre-text 
{
  width: 48%;
}

.despre-img 
{
  width: 48%;
  margin-right: 8px;
  float: left; 
}

.despre-img img 
{
  width: 100%;
  border-radius: 12px;
}

.despre-text 
{
  color: white;
}

.despre-text p 
{
  line-height: 1.6;
  margin-bottom: 15px;
}

/* DESPRE SITE */
.despre-site 
{
  width: 100%;
  margin: 60px 0;
}

.despre-site .container 
{
  max-width: 900px;
  background: #020617;
  padding: 30px;
  color: #e5e7eb;
}

.despre-site h1 
{
  font-size: 34px;
  text-align: left;
  margin-bottom: 25px;
}

.despre-site p 
{
  line-height: 1.7;
  margin: 25px 0 35px;
  font-style: italic;
  color: white;
}

.despre-site p::first-letter 
{
  color: red;
  font-size: 250%;
  float:top;
  margin-right: 2px;
}

.despre-site ol
{
  margin: 30px 0 30px 60px;
  color: white;
}

.despre-site li 
{
  margin-bottom: 12px;
}

.despre-site li::marker 
{
  color: red;
}


/* REVIEWS */
.reviews-container 
{
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
}

.review 
{
  width: 100%;
  background: black;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-style: italic;
}

.review::first-letter
 {
  color: red;
  font-size: 250%;
  float: left;
  margin-right: 10px;
}

.review span 
{
  display: block;
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
}

/* FORM */
form 
{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

table 
{
  width: 950px;
  max-width: 1100px;
  background: black;
  box-shadow: 0 0 10px red;
  color: white;
  border-collapse: collapse;
}

td 
{
  padding: 20px;
  vertical-align: top;
}

/* INPUT */
input,
select,
textarea 
{
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  background-color: #161616;
}

input[type="checkbox"],
input[type="radio"] 
{
  width: auto;
}

textarea 
{
  resize: none;
}/* BUTOANE */
input[type="submit"],
input[type="reset"],

#submitBtn 
{
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;   
  font-size: 17px;      
  border-radius: 7px;  
  cursor: pointer;
  max-width: 100px
}


input[type="reset"]:hover 
{
  background: darkred;
}

input[type="submit"]:hover 
{
  background: darkred;
}

.pachete 
{
    background-color: black;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
}

h2 {
    color: red;
}

.optiune
 
{
    display: block;
    margin: 15px 0;
    font-size: 18px;
    cursor: pointer;
}

.optiune input
 
{
    margin-right: 10px;
}

button
 
{
    margin-top: 25px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover
 {
    background-color: darkred;
}

.durata
 {
    margin-top: 20px;
    font-size: 16px;
    color: #ccc;
}


/* MULTUMIRE */
.multumire 
{
  width: 100%;
  max-width: 700px;
  margin: 60px auto;
  padding: 25px;
  border: 2px solid red;
  background: white;
  color: red;
  text-align: center;
  box-shadow: 0 0 10px red;
}

.multumire 
{
  font-size: 22px;
  line-height: 1.6;
  background-color: black
}

/* MAP FIXAT IN CONTAINER */
.map 
{
  width: 100%;
  margin: 40px 0;
}

.map .container 
{
  max-width: 1000px;
  padding: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 15px white;
}

.map iframe 
{
  width: 100%;
  height: 400px;
  border: 0;
  display: block;
}

/* CONTACT */
.contact-table 
{
  width: 100%;
  max-width: 800px;
  margin: 60px auto;
  background: white;
  color: black;
  border-collapse: collapse;
}

.contact-table th 
{
  background: red;
  color: white;
  padding: 10px;
}

.contact-table td 
{
  padding: 10px;
  border: 1px solid black;
}

.contact-table tr:nth-child(even) 
{
  background: #eee;
}

/* FOOTER */
.footer 
{
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  margin-top: 80px;
  box-shadow: 0 -2px 2px white;
  font-weight: bold;
}

/* GALERIE */

h1 
{
    text-align: center;
    padding: 20px;
}

.galerie 
{
    width: 80%;
    margin: auto;
}


.item 
{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.item img 
{
    width: 300px;
    border-radius: 10px;
}

.descriere 
{
    flex: 1;
}

.descriere h2 
{
    margin-top: 0;
}

.descriere p 
{
    font-size: 16px;
    line-height: 1.6;
}

.item:nth-child(even) 
{
    flex-direction: row-reverse;
}

.paragraf
{
  position: relative;   /* permite deplasarea */
  left: 0px;           /* mută în dreapta */
  top: 20px;            /* mută mai jos */
  width: 500px;         /* dacă vrei să controlezi lungimea liniei */
  text-align: center;
}

.msg {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  display: none;
}
.msg.success {
  background-color: #d4edda;
  color: #155724;
  display: block;
}
.msg.error {
  background-color: #f8d7da;
  color: #721c24;
  display: block;
}


.welcome-msg 
{
  position: fixed;      /* stă peste tot conținutul */
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 9999;
}
.welcome-msg.show 
{
  opacity: 1;
}
